---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <!-- small button -->
     <!--  <p class="pull-right visible-xs">
       <button>toggle</button>
     </p> -->
      <div class="post-list-header">
        Articles
      </div>
      <div class="post-list-body">
        
        <div class="all-posts" post-cate="All">
          {% for post in site.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
              <!-- {{ post.date | date: "%b %-d, %Y" }} -->
            </a>
          {% endfor %}
        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        
        <!-- </div> -->
      </div>
    </div>
  </div>


  <div class="col-sm-3">

    <div class="shadow-corner-curl hidden-xs">

      <div class="categories-list-header" style=" text-align:center;">
        <a href="{{ site.myGithubLink }}/"><img alt="" class="avatar" height="230" src="{{ site.myPhoto }}" width="230" /></a>

        <h2 class="MyName">
          {{ site.myName }}
        </h2>

          <a class="University" href="http://www.bupt.edu.cn/">{{ site.chinaName }} - {{ site.BUPTname }}</li>
          <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>



      <div class="categories-list-header">
        Categories
      </div>
      
      <a href="javascript:;" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
      
      <div class="categories-list-header">
        最近更新时间：<br />{{ site.time }}
      </div>
    </div>
  </div>
</div>
